
.user-card {
    width: 400px;
    height: 650px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: fixed;
    justify-content: center;
    font-family: "Playwrite AU TAS", "sans-serif";
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.user-card:hover {
    transform: translateY(-20px);
    box-shadow: 0 20px 50px #015871;
}

.user-card-image {
    width: 400px;
    height: 400px;
    display: flex;
}
.user-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or 'contain' depending on your goal */
    display: block; /* removes inline-image gaps */
}
.user-card-content-title {
    font-size: 20px;
    font-weight: 700;
    color: #18181B;
    margin: 0 0 12px 0;
    letter-spacing: -0.5px;
    line-height: 1.2;
}

.user-card-content {
    background: transparent;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    font-size: 14px;
    color: #52525B;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: left;
    padding: 0 10px 10px 20px;  /* top 0, left/right 20px, bottom 10px */
    z-index: 2;

}

.user-card-subImage {
    width: 50px;
    height: 50px;
    display: flex;
}
.user-card-subImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or 'contain' depending on your goal */
    display: block; /* removes inline-image gaps */
    padding-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;
    z-index: 2;
}

.ocean-box {
    width: 400px;
    height: 650px;
    position: relative;
    overflow: hidden;
    background: radial-gradient(
            ellipse at center,
            rgba(255,254,234,1) 0%,
            rgba(255,254,234,1) 35%,
            #B7E8EB 100%
    );
}

/* ocean sits at bottom of box */
.ocean {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12%; /* increase for visibility */
    background: #015871;
    opacity: .4;
}

/* waves */
.wave {
    position: absolute;
    top: -198px;
    width: 6400px; /* reduced from 6400 */
    height: 198px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg") repeat-x;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    z-index: 1;
}

.wave:nth-of-type(2) {
    top: -175px;
    .wave:nth-of-type(2) {
        animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    }
    opacity: 100;
}

@keyframes wave {
    0% {
        transform: translate3d(0, 0px, 0);
    }
    50% {
        transform: translate3d(-800px, 25px, 0);
    }
    100% {
        transform: translate3d(-1600px, 0px, 0);
    }
}

@keyframes swell {
    0%, 100% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(5px);
    }
}

