body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center;     /* horizontal center */
  height: 100vh;           /* full viewport height */
  text-align: center;
  padding: 2rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  color: #555;
  max-width: 600px;
}

.image {
  display: flex;
  justify-content: space-around; /* equally spaces logos */
  align-items: center;
  width: 150px;
  borderRadius: '50%';
  marginBottom: '1rem';
}
