@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans",sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.hero {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center;     /* horizontal center */
  text-align: center;
  padding: 2rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.hero p {
  font-size: 1.5rem;
  color: #ffffff;
  max-width: 600px;
}

/*.name::before {*/
/*  transform: scaleX(0);*/
/*  transform-origin: bottom right;*/
/*}*/

/*.name:hover::before {*/
/*  transform: scaleX(1);*/
/*  transform-origin: bottom left;*/
/*}*/

/*.name::before {*/
/*  content: " ";*/
/*  display: block;*/
/*  position: absolute;*/
/*  top: 0; right: 0; bottom: 0; left: 0;*/
/*  inset: 0 0 0 0;*/
/*  background: hsl(50% 100% 80%);*/
/*  z-index: -1;*/
/*  transition: transform .3s ease;*/
/*}*/


